@import "@/shared/styles/variables.scss";

.case_list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: $medium_gap;
    flex-direction: column;
    row-gap: $medium_gap;
    width: 100%;
    background: $bg_color;
}